﻿@using ProniaAdmin.Models;
@model List<Setting>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Key</th>
			<th scope="col">Value</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
	
		</tr>
	</tbody>
</table>